body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.topline {
    height: 2px;
    width: 100%;
    background-color: white;
}

section {
    text-align: center;
    padding: 50px;
    background-image: url(./img/bright_green_triangle.jpg);
    background-color: #27bb609a;
}

.hd h1 {
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0px;
}

h1 .whline {
    color: white;
    /* text-decoration-line: line-through; */
    /* text-decoration-thickness: 5px;   */
    text-indent: 10px;
    font-weight: 700;
    font-size: 50px;
}

.whtext {
    margin-top: 0;
    color: white;
    font-size: 34px;
}

.htext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: rgb(230, 91, 41);
    border: none;
    padding: 8px 20px;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.feat-head {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.feat-head h2 {
    font-size: 22px;
    font-weight: 300;
}

.feat-head h2 span {
    font-weight: 800;
}

.feat-elements {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 12% 10px 12%;
}

.feat-el {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feat-ico {
    background-color: rgb(216, 216, 216);
    border: 3px solid rgb(175, 175, 175);
    border-radius: 100%;
    padding: 20px 20px;
}

.feat-ico img {
    max-width: 25px;
    max-height: 25px;
}

.feat-text {
    padding: 10px 20px 10px 20px;
}

.feat-elements-orange {
    color: white;
    background-color: rgb(230, 91, 41);
}

.feat-elements-orange {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feat-elements-orange > :first-child {
    background-color: rgb(211, 84, 38);
    padding-left: 24%;
}

.feat-elements-orange > :nth-child(2n) {
    padding-right: 24%;
}

.feat-elements-orange > :nth-child(3n) {
    padding-left: 24%;
}

.feat-el-orange {
    outline: rgb(228, 106, 26) solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feat-ico-orange {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    font-size: 40px;
    padding: 20px;
}

.fa-quote-left {
    padding-right: 36px;
}

.fa-mobile-screen-button {
    padding-right: 36px;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.symbol-icon {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 118px;
    color: rgb(155, 155, 155);
    margin: 0px 8px;
}

.art-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    color: rgb(139, 139, 139);
}

.art-author {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(228, 106, 26);
}

.art-author span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: rgb(71, 71, 71);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(49, 179, 135);
}

.l-link a{
    color: black;
}

.r-link a{
    color: black;
}

.l-link {
    margin-left: 5%;
    margin-right: 8%;
}

.r-link {
    margin-left: 8%;
    margin-right: 5%;
}

footer {
    text-align: center;
    padding: 30px 0px 40px 0px;
    background-color: rgb(85, 85, 85);
    color: rgb(218, 218, 218);
}

.links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.c-links {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 800px) {
    .feat-elements {
        grid-template-columns: 1fr;
    }

    .feat-elements-orange {
        grid-template-columns: 1fr;
    }

    .feat-elements-orange > :first-child {
        background-color: rgb(211, 84, 38);
        padding-left: 12%;
        padding-right: 20%;
    }
    
    .feat-elements-orange > :nth-child(2n) {
        padding-left: 12%;
        padding-right: 20%;
    }
    
    .feat-elements-orange > :nth-child(3n) {
        padding-left: 12%;
        padding-right: 20%;
    }
}

@media only screen and (max-width: 550px) {
    section {
        padding: 10%;
    }
    
    .hd h1 {
        font-size: 32px;
    }

    .art-text, .art-author {
        font-size: 10px;
    }
}